.form-header {
  border-bottom: 2px solid;
  margin-bottom: 15px;
  color: rgba(0,0,0,0.4);
}
.btn-back {
  margin-right: 15px;
}

.card {
  margin: 10px auto;
}
p > a:hover {
  cursor: pointer;
  color: black;
}
p > a {
  color: white;
}
.input-group-text {
  width: 45px;
}
.divider-text {
  position: relative;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
.divider-text span {
  padding: 7px;
  font-size: 12px;
  position: relative;
  z-index: 2;
}
.divider-text:after {
  content: "";
  position: absolute;
  width: 100%;
  border-bottom: 1px solid #ddd;
  top: 55%;
  left: 0;
  z-index: 1;
}

.btn-facebook {
  background-color: #405D9D;
  color: #fff;
  font-size: 20px;
}
.btn-google {
  background-color: #dd4b39;
  color: #fff;
  font-size: 20px;
}
.btn-login {
  height: 20px;
}
form {
  width: 300px;
}
